body {
  text-align: center;
}

.container {
  align-content: center;
  border: 10px solid lightseagreen;
  border-radius: 5px;
  max-width: 300px;
  padding: 0px 50px 25px;
  margin: 5rem auto;
  background: #ecefed;
}
